<nav class="mb-5">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/categories">Categorias</a></li>
    <li class="breadcrumb-item active">Formulário de categoria</li>
  </ol>
</nav>

<div class="row mb-4">
  <div class="col-md">
    <h1 class="h2 border-left pl-2">
      Formulário de categoria {{currentAction}}
    </h1>
  </div>
  <div class="col-md">
    <a routerLink="/categories" class="btn btn-light float-right">
      << Voltar
    </a>
  </div>
</div>


<form [formGroup]="categoryForm">

  <div class="card">
    <div class="card-header">
      Informações sobre a categoria
    </div>

    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="name">Nome</label>
          <input type="text" class="form-control" id="name">
        </div>

        <div class="form-group col-md-8">
          <label for="description">Descrição</label>
          <input type="text" class="form-control" id="description">
        </div>
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary btn-lg float-right mt-3">
    Salvar
  </button>

</form>